In [2]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [5]:
conn=pymysql.connect(host="localhost",user='root',password='2024')

In [26]:
cur=conn.cursor()
a=cur.execute('show databases')
for x in cur:
    print(x)

('contacts_db',)
('information_schema',)
('movie',)
('mysql',)
('newdatabase',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [12]:
cur.execute(
''' CREATE DATABASE contacts_db
'''
)

1

In [13]:
cur.execute(
    'use contacts_db'
)

0

In [15]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS contacts (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        phone VARCHAR(15) NOT NULL,
        email VARCHAR(100)
    )
''')

0

In [29]:
cur.execute('show tables')
for x in cur:
    print(x)

('contacts',)

In [39]:
cur.execute('''
insert into contacts (name,phone,email)
values
('Samarth', '9876543210', 'sam123@gmail.com'),
('Aarav', '9123456789', 'aarav@mail.com'),
('Ishaan', '9234567890', 'ishaan@mail.com'),
('Neha', '9345678901', 'neha@mail.com'),
('Rohan', '9456789012', 'rohan@mail.com'),
('Ananya', '9567890123', 'ananya@mail.com'),
('Vikram', '9678901234', 'vikram@mail.com'),
('Pooja', '9789012345', 'pooja@mail.com'),
('Rahul', '9890123456', 'rahul@mail.com'),
('Sneha', '9901234567', 'sneha@mail.com'),
('Aryan', '9012345678', 'aryan@mail.com'),
('Meera', '9123456780', 'meera@mail.com'),
('Karan', '9234567891', 'karan@mail.com'),
('Simran', '9345678902', 'simran@mail.com'),
('Aditya', '9456789013', 'aditya@mail.com'),
('Tanvi', '9567890124', 'tanvi@mail.com'),
('Kabir', '9678901235', 'kabir@mail.com'),
('Nisha', '9789012346', 'nisha@mail.com'),
('Dev', '9890123457', 'dev@mail.com'),
('Riya', '9901234568', 'riya@mail.com');
''')

20

In [38]:
cur.execute('select * from contacts')
for i in cur:
    print(i)

(1, 'Samarth', '9876543210', 'sam123@gmail.com')
(2, 'Aarav', '9123456789', 'aarav@mail.com')
(3, 'Ishaan', '9234567890', 'ishaan@mail.com')
(4, 'Neha', '9345678901', 'neha@mail.com')
(5, 'Rohan', '9456789012', 'rohan@mail.com')
(6, 'Ananya', '9567890123', 'ananya@mail.com')
(7, 'Vikram', '9678901234', 'vikram@mail.com')
(8, 'Pooja', '9789012345', 'pooja@mail.com')
(9, 'Rahul', '9890123456', 'rahul@mail.com')
(10, 'Sneha', '9901234567', 'sneha@mail.com')
(11, 'Aryan', '9012345678', 'aryan@mail.com')
(12, 'Meera', '9123456780', 'meera@mail.com')
(13, 'Karan', '9234567891', 'karan@mail.com')
(14, 'Simran', '9345678902', 'simran@mail.com')
(15, 'Aditya', '9456789013', 'aditya@mail.com')
(16, 'Tanvi', '9567890124', 'tanvi@mail.com')
(17, 'Kabir', '9678901235', 'kabir@mail.com')
(18, 'Nisha', '9789012346', 'nisha@mail.com')
(19, 'Dev', '9890123457', 'dev@mail.com')
(20, 'Riya', '9901234568', 'riya@mail.com')